# Authentication
# Generate with: openssl rand -hex 32
SECRET_KEY=<your_generated_secret_key>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Database
# Local PostgreSQL connection
# Otherwise use database URL provide by neon
DATABASE_URL=postgresql+psycopg://user_name:choose_a_strong_password@localhost:5432/database_name

# Frontend URL allowed to communicate with the backend
FRONTEND_URL=http://localhost:3000

# Docker
# Get these values with: id -u and id -g
UID=<your_user_id>
GID=<your_group_id>

# Sound file storage
# Use "local" for local development.
# Production uses "r2" through the Render environment variables.
STORAGE_BACKEND=local